<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <style>
        h2 {
            background-color: aqua;
            padding: 10px;
        }

        .container{
            margin: 10px;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Hello {{ name }},</h2>
        <p>Welcome to our Flask App! We're glad to have you onboard.</p>
        <p>Best regards,<br>The Team</p>
    </div>
</body>
</html>